$bluegray : #8797af;
$lightblue : #d8ecf4;
$red :#f7584c;


body {
  text-align: center;
  #header {
    color: $bluegray;
    margin-bottom: 17px;
  }
  #map {
   height: 600px;
   width: 100%;
   margin-bottom: 10px;
  }
  input {
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 5px;
    text-align: center;
    color: $bluegray;
  }
  button {
    padding-bottom: 10px;
    background-color: $lightblue;
    color: $bluegray;
  }
  .showWeather {
    font-size: 20px;
    color: $bluegray;
  }
  #map {
    margin: 7px;
  }
  .red {
    color: $red;
  }
}
