$bluegray : #8797af;

body {
  text-align: center;
  #header {
    color: $bluegray;
    background-color: #1d2c4d;
    margin-bottom: 17px;
  }
  #map {
   height: 600px;
   width: 100%;
   margin-bottom: 10px;
  }
  input {
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 5px;
  }
  button {
    padding-bottom: 10px;
  }
  .showWeather {
    font-size: 20px;
    color: $bluegray;
  }
  #map {
    margin: 7px;
  }
}
